.hero {
  position: relative;
  top: -64px;
  left: 0;
  display: flex;
  padding-top: 64px;
  height: 420px;
  @media screen and (min-width: 768px) {
    height: 648px;
  }

  &__slider {
    padding-top: 50px;
    padding-left: 50px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media screen and (min-width: 768px) {
      flex-grow: 1;
      padding-top: 144px;
      padding-left: 80px;
    }
  }

  &__title {
    font-size: 42px;
    line-height: normal;
    font-weight: 700;
    max-width: 300px;
    padding-bottom: 30px;
  }
  &__text {
    font-size: 12px;
    line-height: normal;

    max-width: 340px;
    padding-bottom: 30px;
  }
}

.overlay {
  position: relative;
  top: -64px;
  left: 0;
  background-image: linear-gradient(
      0deg,
      rgba(40, 39, 42, 1) 0%,
      rgba(40, 39, 42, 0.6) 25%,
      rgba(40, 39, 42, 0.3) 100%
    ),
    url(/images/hero/contBcg-3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 160%;
}
