$main-text-color: #ffffff;
$main-black-color: #212121;
$main-bg-color: #28272a;
$aditional-white-color: rgba(255, 255, 255, 0.6);
$main-accent-color: #fee251;
$main-text-font-famaly: 'Roboto', sans-serif;
$animation-cube: cubic-bezier(0.4, 0, 0.2, 1);
